In [6]:
import numpy as np

In [26]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
    return list

def sum_random (list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
  return sum

In [27]:
n = int(input("Enter some integer"))

Enter some integer10

In [32]:
MyList = np.random.randint(10,50,n)
MyList

array([42, 44, 10, 24, 19, 27, 33, 27, 41, 22])

In [33]:
MySum = sum(MyList)
MySum

289